<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vinhcd_aws>
            <sqs>
                <max_message_per_queue>10</max_message_per_queue>
                <dead_queue_days>3</dead_queue_days>
            </sqs>
        </vinhcd_aws>
    </default>
</config>
