<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vinhcd_aws">
            <group id="sqs" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>SQS</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/disable this feature</comment>
                </field>
                <field id="event" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Event</label>
                    <source_model>Vinhcd\AwsSqs\Model\Config\Source\Event</source_model>
                </field>
                <field id="order_place_queue_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Queue URL</label>
                    <comment>It will push to this Queue after placing Order. Leave it empty if you want to ignore this event.</comment>
                    <depends>
                        <field id="event">order_place</field>
                    </depends>
                </field>
                <field id="max_message_per_queue" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Max message per queue</label>
                    <validate>validate-digits</validate>
                    <comment>This indicates max number of message will be sent per queue</comment>
                </field>
                <field id="dead_queue_days" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dead queue after (days)</label>
                    <validate>validate-digits</validate>
                    <comment>Message will not be sent after x days</comment>
                </field>
            </group>
        </section>
    </system>
</config>
